.task-list-counter {
    @include font-size(1.6, 2.2);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: $color-text;
}

.task-list {
    margin-top: 20px;

    li {
        position: relative;
        cursor: pointer;
        padding: 10px 0;

        @include breakpoint($mobile) {
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }

        &.is-selected {
            .fc-checkbox-text {
                color: $color-border;
            }

            &::before,
            .fc-checkbox-icon::after {
                opacity: 1;
            }
        }

        &::before {
            opacity: 0;
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 5;
            transform: translateY(-50%);
            width: calc(100% - 21px);
            height: 1px;
            background-color: $color-border;
            transition: opacity .2s ease-in-out;
        }
    }
    
    label {
        cursor: pointer;
        padding: 10px 0;

        input[type=checkbox] {
            display: inline-block;
            margin-right: 12px;
            margin-top: -3px;
        }
        span {
            letter-spacing: 1px;
        }
    }
}