// colors

$color-brand: #01a8d4;
$color-border: #e0e0e0;
$color-text: #757575;

/* 
$color-brand-alt: ;
$color-brand-extra: ;

$color-text: ;
$color-text-alt: ;
$color-text-extra: ;

$color-border: ;
$color-border-alt: ;
$color-border-extra: ;

*/


